
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">      
    <p class="mt-3"><%= f.input :title %></p>
    <p class="mt-3"><%= f.input :description %></p>
    <p class="mt-3"><%= f.input :price %></p>

    <p class="mt-3"><%= f.association :armyfaction, label: "Faction" %></p>
    <p class="mt-3"><%= f.association :paint, label: "Painted" %></p>
    <p class="mt-3"><%= f.association :condition, label: "Condition" %></p>
    <%= f.input :picture, label: "Upload Image" %>

    <%= f.button :submit, class:"btn btn-info btn-lg btn-block mt-3 mb-3 " %> 
  </div> 
<% end %>