<h1>show</h1>

<h1><%= @listing.title%></h1>

<h3><%= @listing.description%></h3>

<h1><%= @listing.armyfaction.name%></h1>
<h1><%= @listing.condition.name%></h1>
<h1><%= @listing.paint.name%></h1>


<h1><%= @listing.price%></h1>

