<h1 class= " hero-title text-center">show</h1>

<div class= "container">
  <%= image_tag @listing.picture, class: "card-img top thumbnail" if @listing.picture.attached? %>
  <h1><%= @listing.title%></h1>

  <h3>description: <%= @listing.description%></h3>

  <h1>Faction: <%= @listing.armyfaction.name%></h1>
  <h1>Condition: <%= @listing.condition.name%></h1>
  <h1>Painted: <%= @listing.paint.name%></h1>


  <h1>Price: $<%= @listing.price%></h1>

  <% if current_user && current_user.id == @listing.user_id %>
    <%= link_to "Edit", edit_listing_path(@listing.id), class: "btn btn-warning" %>
    <%= link_to "Delete", @listing, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger mr-3" %>
    <%else%>
    <p><%= render_buy_button %></p>
  <% end %>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      )
      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      })
    })
</script>
